@mixin notification($color) {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 50%;

    padding: 25px 25px 15px;

    background: white;

    border: 3px solid $color;
    border-radius: 15px;

    animation: slideAnimation 1s linear,
        slideAnimation 1s linear 6s reverse forwards;

    &:before,
    &:after {
        content: '';
        position: absolute;

        left: 50%;
        transform: translateX(-50%);
        top: 15px;

        width: 60px;
        height: 5px;

        border-radius: 50px;

        background: $color;
    }
    &:before {
        opacity: 0.5;
    }
    &:after {
        transform: translateX(-50%) scaleX(1);
        transform-origin: left top;
        animation: shrinkAnimation 5s linear 1s forwards;
    }
}

@keyframes shrinkAnimation {
    from {
        transform: translateX(-50%) scaleX(1);
    }
    to {
        transform: translateX(-50%) scaleX(0);
    }
}

@keyframes slideAnimation {
    from {
        transform: translateX(500%);
    }

    to {
        transform: translateX(-50%);
    }
}
